body {
	font-family: "Josefin Slab", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #000000;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}

a, img {
    border: none;
    outline: none;
}

p {
	text-align: left;
}

.arrow {
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
}

.arrow img {
	width: 40px;
	height: 40px;
}

.fade {
	cursor: pointer;
}

#index, #about, #contact, #projects {
	position: absolute;
}

#about span, #resume span, #projects span {
	text-decoration: underline;
}

/* INDEX */
#index {
	width: 720px;
	height: 200px;
	left: 50%;
	top: 50%;
	margin-left: -360px;
	margin-top: -150px;
}

#initials {
	font-size: 110px;
	text-align: center;
	display: none;
}

#initials span {
	cursor: pointer;
}

#selections {
	display: none;  
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.selection {
	display: inline-block;
	font-size: 50px;
	margin: 0px 8px 0px 8px;
	opacity: .6;
}
/* END INDEX */


/* ABOUT */
#about {
	display: none;
	width: 720px;
	height: 460px;
	left: 50%;
	top: 50%;
	margin-left: -360px;
	margin-top: -230px;
}

#about p, #pweb p, #couplr p {
	font-size: 20px;
}

#about span {
	cursor: pointer;
}
/* END ABOUT */

/* CONTACT */
#contact {
	display: none;
	text-align: center;
	height: 190px;
	width: 420px;
	top: 50%;
	left: 50%;
	margin-top: -130px;
	margin-left: -210px;
}

#contact .fade {
	opacity: .6;
}
/* END CONTACT */


/* RESUME */
h1 {
	font-size: 175%;
	margin: 0;
	font-weight: bold;
}

h2 {
	font-size: 140%;
	margin: 0;
	font-weight: bold;
}

div > ul {
	font-size: 120%;
}

#resume {
	margin: 0 auto;
	width: 1020px;
	display: none;
	position: relative;
}

#resume span {
	text-decoration: none;
}

#resume-arrow {
	background-color: #FFFFFF;
	width: 1020px;
	position: fixed;
	z-index: 1;
	top: 0;
}

#resume-arrow img {
	margin: 5px;
}

#PDF {
	font-size: 22px;
	position: absolute;
	right: 10px;
	top: 16px;
	opacity: .6;
	z-index: 2;
}

#small-name {
	position: absolute;
	left: 10px;
	font-size: 40px;
	font-weight: bold;
	top: 6px;
	display: none;
	text-decoration: underline;
}

/* LEFT DIV */
#left {
	background-color: #FFFFFF;
	width: 300px;
	float: left;
	position: fixed;
	overflow: hidden;
}

#info {
	margin: 5% 0% 0% 12.5%;
	position: relative;
	z-index: 2;
}

#info span {
	font-weight: bold;
}

#name {
	margin: 4em 0em 0em 1em;
	font-size: 2.5em;
	font-weight: bold;
}
/* END LEFT DIV */

/* RIGHT DIV */
#right {
	width: 720px;
	float: right;
	margin-top: 70px;
	position: relative;
	overflow: hidden;
}
/* END RIGHT DIV */

/* SECTION SPACING */
#right div {
	margin: 0% 0% 3% 0%;
}

.clear {
	height: 0;
	clear: both;
}

/* LIST SYLING */
div ul {
	margin: 1%;
	list-style-type: disc;
}
/* END RESUME */


#projects {
	display: none;
	text-align: center;
	width: 720px;
	height: 440px;
	left: 50%;
	top: 50%;
	margin-left: -360px;
	margin-top: -220px;
}

#project-selections {
	margin-top: 60px;
}

#project-selections div {
	margin: 10px 0px 10px 0px;
	font-size: 40px;
	cursor: pointer;
}

#project-arrow, #return {
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left: 340px;
}

#project-arrow img, #return img {
	width: 40px;
	height: 40px;
}

#return {
	display: none;
	left: 316px;
}

#pweb, #couplr {
	display: none;
	overflow: scroll;
	width: 720px;
	height: 380px;
	margin-top: 60px;
}

#couplr img {
	margin: 10px;
	height: 300px;
	width: 400px;
	border: 4px solid black;
}

#match-img {
	border: 4px solid black;
	height: 300px;
	width: 300px;
}